[submodule "lib/kicad_lib"]
	path = lib/kicad_lib
	url = git@gitlab.com:Durburz/kicad_lib.git
[submodule "lib/kicad-library"]
	path = lib/kicad-library
	url = https://github.com/bfrigon/kicad-library.git
[submodule "lib/digikey-kicad-library"]
	path = lib/digikey-kicad-library
	url = https://github.com/digikey/digikey-kicad-library.git
[submodule "lib/SOICbite"]
	path = lib/SOICbite
	url = https://github.com/SimonMerrett/SOICbite.git
